[submodule "dev-scripts/MakeHelp"]
	path = dev-scripts/MakeHelp
	url = https://github.com/mrdor44/MakeHelp.git
[submodule "git-modules/nextcloud-vue-components"]
	path = git-modules/nextcloud-vue-components
	url = https://github.com/rotdrop/nextcloud-vue-components.git
