.idea
*.iml
/vendor/
/build/
/downloads/
node_modules/
/.php_cs.cache
js/*hot-update.*
.phpunit.result.cache
**~
stamp*
/composer.json
composer.lock
package-lock.json
js/**
css/**
lib/Database/ORM/Proxies/**
build-flavour
.php-cs-fixer.cache
lib/Toolkit/[A-Z]*
*-build-hash
/vendor-bin/**/vendor/
/vendor-bin/**/composer.lock
statistics/**
